<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <span>Estacionamento do Nilshow</span>
  </a>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    <button class="p-link layout-topbar-button" (click)="home()">
      <i class="pi pi-home"></i>
    </button>
    <button class="p-link layout-topbar-button" (click)="entradaCarro()">
      <i class="pi pi-camera"></i>
    </button>
  </div>
</div>
