<div class="camera-container">
  <video #videoElement width="640" height="480" autoplay></video>
  <canvas #canvasElement width="640" height="480"></canvas>
</div>
<button (click)="capture()">Solicitar entrada</button>
<div *ngIf="ocrResult">Resultado OCR: {{ ocrResult }}</div>


<div *ngIf="isVisible" class="modal">
  Sua vaga é: {{dadosCardQrCode.numVaga}}<br>
  Hora da entrada: {{dadosCardQrCode.dataHoraEntrada | date: 'dd/MM/yyyy HH:mm:ss'}}
  <div class="qr-code-container">
    <qrcode [qrdata]="codigoQRCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
</div>


